{%extends 'core/base.html'%}
{%load static%}
{%block content%}
<style>
    .dataTables_wrapper {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  margin:5%;
  padding: 56px 8px 6px 6px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}
</style>
<div class="sidenav">
    <a href="{%url 'crearpaciente' %}"><img width="25" src="{%static 'images/addperson.png'%}"> Crear nuevo paciente</a>

</div>
<br>
<br>
<div class="contenidolateral" style="margin-left:160px">


<h3 style="text-align:center"><img src="{% static 'images/pacienteicon.png'%}" height="50px"> Lista de pacientes</h3>
<table id="tabla_pacientes" class="display">
    <thead>
    <tr>
        <th>Apellidos</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Última consulta</th>

    </tr>
    </thead>
    <tbody>
    {%for paciente in object_list%}
    <tr>
        <td><a href="{%url 'paciente' paciente.pk%}">{{paciente.apellidos}}</a></td>
        <td>{{paciente.nombre}}</td>
        <td>{{paciente.telefono}}</td>
        <td>{{paciente.email}}</td>
        <td>{{paciente.paciente_mediciones.last.fecha}}</td>

    </tr>
    {%endfor%}
    </tbody>
</table>
</div>

{%endblock%}